.employee-dash-container {

  background-image: url('https://replicate.delivery/pbxt/hWyyC5O2ATL9OxceIMAlOoNtnN7a5VUqHPeKorj0AJcOEeGhA/out..jpeg');
  background-size: cover;
  background-attachment: fixed;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.button-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left !important;
}




.nav-links
{
    border: 2px solid #000000;
    font-size: 15px;
    font-weight: bold;
    border-radius: 1px;
    text-align: center;
    text-decoration: none;
    padding: 15px 35px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgb(255, 255, 255), 0px 0px 10px rgb(255, 255, 255,1);
    background-color: rgb(253, 253, 253);
    background: rgb(255, 255, 255, 0.5);
    cursor:pointer;
}

.nav-links:hover
{
  background-color: rgb(146, 144, 144);
    background: rgb(255, 255, 255, 0.3);
}


.button-list li {
  margin-bottom: 1rem;
}

.button-list li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #0455ebf1;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

.button-list li a:hover {
  background-color: #04504d;
  border: black;
}

.margin-left h2{
  color: #000000;
}

.left-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-nav-links li {
  margin-bottom: 10px;
}

.left-nav-links li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.left-nav-links li a:hover {
  background-color: #fff;
  color: #000;
}
